.blue{
    width: 80px;
    height: 80px;
    background-color:blue;
    padding-right: 10px;
}

.white{
    width: 80px;
    height: 80px;
    background-color:white;
    padding-right: 10px;
}

.red{
    width: 80px;
    height: 80px;
    background-color:red;
    padding-right: 10px;
}
.chartreuse{
    width: 80px;
    height: 80px;
    background-color:chartreuse;
    padding-right: 10px;
}

.btn-block{
    width: 760px;
    height: 80px;
    background-color:burlywood;
    border: 1px solid black;
padding: 20px;
}